# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.env
backend/venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# OS / editor
.DS_Store
.vscode/
.idea/

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/coverage/
frontend/.env.development
frontend/.env.production

# Coverage (backend)
backend/.coverage
backend/htmlcov
backend/.env
.coverage
coverage.xml
coverage/
htmlcov/