.featuresmaincard {
    padding: 100px 20px;
    margin-top: 0px;
    border-bottom: 1px solid #e6e6ef;
    background: #ffffff;

    animation-name: text-appear;
    animation-duration: 9s;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 20% cover 60%;


}


@keyframes text-appear
{
    from {
        opacity: 0;
        transform: translateY(100px);
    }    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}








.featuresContainer {
    max-width: 1200px;
    margin: 0 auto;
}


.card
{
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.06);
    border: 1px solid hsl(0, 0%, 80%);
    background: #f7f8fb;

    display: flex;
    flex-direction: column;
    cursor: pointer;
    min-height: 270px;
}

.card:hover {
  transform: scale(1.02) rotate(0deg) translate(0px, 0px) skewX(0deg);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
}

.card h2
{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.card p
{
    font-size: 15px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: auto;
    opacity: 0.5;
}





.MainGrid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    /* padding: 10px; */
    gap: 20px;
    margin-top: 30px;
    align-items: stretch;
    /* justify-content: center; */
}



.MainHeader {
    align-items: center;
    padding-left: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 5px;


}

.MainHeader h1 {
    font-size: 80px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 5px;
}

.MainHeader p
{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    opacity: 0.75;

    
}


.photo
{   
    width: 100%;
    height: 150px;

    object-fit: contain;
    display: block;
    align-items: center;
    justify-content: center;


    padding: 15px;
    
    margin-bottom: 12px;
    flex-shrink: 0;



}



.MainGrid .card:nth-child(4) {
  grid-column: span 1; /* wide */
}

.MainGrid .card:nth-child(5) {
  grid-column: span 2; /* normal */
}