.maindiv {

  justify-content: space-between;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  padding: 16px 32px;

  margin-bottom: 50px;

  border-bottom: 6px solid #e5e5e5;
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar-title {
    text-decoration: none !important;
    color: black !important;
    font-size: 30px;
    font-weight: bold;
}

.navbar-title:hover {
    color: #333 !important;
}


.navbar-link {
    display: flex !important;
    align-items: center;
    gap: 6px;
    text-decoration: none !important;
    color: #555 !important;
    font-size: 1.1rem;
    line-height: 1;
}

.navbar-link:hover {
    color: black !important;
}

.navbar-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    object-fit: contain;
}

.rightspan
{
  font-size: 15px;
  color: grey;
}