.maindiv {

  justify-content: space-between;

  align-items: center;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
  padding: 16px 32px;

  margin-bottom: 50px;

  border-bottom: 6px solid #e5e5e5;
}

.title
{
    font-size: 30px;
    text-shadow: 50ch;
    text-align: center;
    -webkit-text-stroke: #e9e9e9;
    
    
}

.rightspan
{
  font-size: 15px;
  color: grey;
}