.add-task-btn {
    width: 100%;
    padding: 10px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 25px;
    transition: background-color 0.2s;
}

.add-task-btn:hover {
    background-color: #e0e0e0;
}