* {
    scrollbar-color: #e0e0e0 white;
    scrollbar-width: thin;
}

body.dashboard-page {
    display: block;
    overflow: hidden;
}

.dashboard-content {
    display: flex;
    width: 100vw;
    height: calc(100vh - 75px);
    box-sizing: border-box;
    padding: 0 32px 50px 32px;
    justify-content: space-between;
}

.add-task-btn {
    width: 100%;
    padding: 10px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #555;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s;
}

.add-task-btn:hover {
    background-color: #e0e0e0;
}

.no-tasks-message {
    color: #acacac;
    font-size: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-section {
    width: 58%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.notes-section {
    width: 40%;
    box-sizing: border-box;
    padding-bottom: 32px;
}

.notes-section textarea {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
    padding: 8px;
    background-color: #f4f4f4;
    color: black;
    border: none;
}

.bottom-buttons {
    margin-top: auto;
    padding-top: 32px;
    padding-bottom: 16px;
}

@media (max-width: 768px) {
    body.dashboard-page {
        overflow: auto;
    }

    .dashboard-content {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
        padding: 0 16px;
    }

    .task-section {
        width: 100%;
        max-height: none;
        overflow-y: visible;
    }

    .notes-section {
        width: 100%;
        min-width: 100%;
        height: 40vh;
        border-left: none;
        flex-shrink: 0;
        margin-top: 16px;
    }
}