.sidebar {
    width: 10vw;
    height: calc(100vh - 75px);
    background-color: #e5e5e5;
    color: black;
    padding: 0 32px;
    box-sizing: border-box;
    position: fixed;
    top: 75px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-links {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar-links li {
    padding: 1vw;
    margin-bottom: 1vh;
    font-size: 1vw;
    color: black;
    cursor: pointer;
    border-radius: 1rem;
}

.sidebar-links li:hover {
    background-color: #989898;
}

.sidebar-links li.active {
    background-color: #989898;
    font-weight: bold;
}

.sidebar-bottom button {
    font-size: 1vw;
    padding: 0.5vw 1vw;
    width: 100%;
}