.add-task-btn {
    width: 100%;
    padding: var(--space-md);
    background-color: var(--bg-soft);
    box-sizing: border-box;
    border: none;
    border-radius: var(--radius-md);
    font-size: var(--font-size-body);
    color: var(--text-muted);
    cursor: pointer;
    margin-top: var(--space-md);
    margin-bottom: var(--space-xl);
    transition: background-color var(--transition-speed);
}

.add-task-btn:hover {
    background-color: var(--bg-soft-hover);
}