.time-block-form-btn{
    display: flex;
    gap: 12px;          
    margin-top: 20px;
}

.time-block-form-card{
    border: 1px solid hsl(0, 0%, 80%);
    width: min(900px, 95vw);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.time-block-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 28px 0;
    padding: 18px;
    border: 1px solid hwb(0 82% 18%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}
.page-center {
    min-height: 100vh;
    width: 100vw;              
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 16px;
    overflow-y: auto;
}

